
recursive-include Arithmos *.pyx *.py *.c *.cpp README* LICENSE
recursive-include Arithmos/datasets *.tab *.basket *.info *.dst *.metadata

recursive-include Arithmos/tests *.tab *.basket *.xlsx *.xls *.pkl *.pkl.gz

recursive-include Arithmos/canvas *ico *.png *.svg *.ico
recursive-include Arithmos/canvas/workflows *.ows

recursive-include Arithmos/widgets *.png *.svg *.js *.css *.html
recursive-include Arithmos/widgets/tests *.tab
recursive-include Arithmos/widgets/data/tests *.tab *.txt
recursive-include Arithmos/widgets/tests/workflows *.ows

recursive-include distribute *.svg *.desktop

include requirements*.txt

include README.md
include README.pypi
include CONTRIBUTING.md
include CHANGELOG.md
include COPYING
include LICENSE
include setup.py
include setup.cfg
include pyproject.toml
